.footer
 .footer__color
  .cont
    .row 
      .col-12.offset-md-6.col-md-6  
        .footer__list 
         a(href='#').footer__link About us
         a(href='#').footer__link Services
         a(href='#').footer__link How we are working
         a(href='#').footer__link Industries
         a(href='#').footer__link Contacts
    .row 
     .col-12.offset-md-8.col-md-6
       .footer__list
          p.footer__link Privacy Policy
          p.footer__link Terms & Conditions 
 section.copy
  .container.container--medium
   .row 
    .col-12.offset-md-4.col-md-6 
     +paragraph('Heilo Royal Support Limited© 2021 All rights reserved' , ' paragraph__copy')      
