include ../mixins/heading.pug
include ../mixins/link.pug

.header 
 .cont 
  .header__body
   a(href='#').header__logo
    img(src="./images/logo.png")
    p.header__slug Luxewill 
   .header__burger
    span
   nav.header__menu 
    ul.header__list 
     li
      a(href='#') About us
      a(href='#') Services
      a(href='#') How we are working
      a(href='#') Industries
      a(href='#') Contacts
         