.footer {
  &__color {
    background-color: $luxewill-gray-second;
    padding: 60px 0 40px;
  }
  &__list {
    display: flex;
  }
}
.menus {
  display: flex;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #202432;
}
.copy {
  padding: 10px 0 0;
}
.footer__link {
  margin: 0 20px 0 0;
  padding: 10px 0;
  text-decoration: none;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #202432;
}
