.heading {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0.01em;

  &__small {
    font-size: 24px;
    line-height: 30px;
    margin-top: 13px;
    margin-bottom: 15px;
  }

  &__medium {
    font-size: 48px;
    line-height: 65px;
    text-align: center;
  }

  &__contakts {
    font-size: 48px;
    line-height: 71px;
    text-align: srart;
  }
  &__description {
    font-weight: 500;
    font-size: 48px;
    line-height: 65px;
    color: $luxewill-success;
    letter-spacing: 0em;

    &__number {
      color: white;
    }
  }
}
a {
  color: $luxewill-black;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  margin: 0 0 0 20px;
  &:hover {
    font-weight: 600;
  }
}
.paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: rgba($luxewill-black, 0.8);

  &__small {
    font-size: 16px;
    line-height: 19px;
  }
  &__development {
    padding-top: 60px;
  }
  &__specialized {
    font-size: 18px;
    line-height: 22px;
    color: rgba($luxewill-black, 1);
    margin-top: 15px;
  }

  &__contacts {
    font-size: 20px;
    line-height: 29px;
    color: rgba($luxewill-black, 0.8);
    margin-top: 25px;
  }
  &__location {
    font-size: 16px;
    line-height: 19px;
    width: 220px;
    color: rgba($luxewill-black, 0.8);
  }
  &__privacy {
    font-family: Noto Sans;
    margin-left: 20px;
    font-size: 16px;
    line-height: 22px;
    color: rgba($luxewill-black, 0.5);
    &:hover {
      color: $luxewill-black;
    }
  }
  &__copy {
    font-family: Noto Sans;
    font-size: 16px;
    line-height: 22px;
    color: rgba($luxewill-black, 0.5);
  }
  &__mail {
    font-size: 16px;
    line-height: 19px;
    width: 220px;
    text-decoration: none;
    color: rgba($luxewill-black, 0.8);
  }
  &__phone {
    font-size: 16px;
    line-height: 19px;
    width: 220px;
    text-decoration: none;
    color: rgba($luxewill-black, 0.8);
  }
  &--border {
    border-top: 1px solid rgba(32, 36, 50, 0.5);
    text-align: justify;
    margin-left: 95px;
    padding: 20px 0;

    &:last-child {
      border-bottom: 1px solid rgba(32, 36, 50, 0.5);
    }
  }
  &__description {
    font-size: 16px;
    line-height: 19px;
    color: $luxewill-success;
    padding-top: 80px;
    width: 380px;
  }
  &--top {
    margin: 60px 0 200px 0;
  }
}
@media (max-width: 767px) {
  .paragraph {
    &--top {
      padding: 60px 0 120px 0;
    }
  }
}
.phones {
  display: block;
  justify-content: center;
}

@media (max-width: 767px) {
  .heading {
    font-size: 24px;
    line-height: 30px;
    margin: 10px 20px;

    &__description {
      font-size: 28px;
      line-height: 35px;
      width: min-content;
      margin: 0 -30px;
    }
    &__contacts {
      font-size: 54px;
      line-height: 62px;
      margin: 10px 20px 10px -55px;
    }
  }
  .paragraph {
    font-size: 14px;
    line-height: 20px;

    &__small {
      text-align: left;
      margin: 20px 20px;
    }
    &__development {
      text-align: left;
      margin: 0 20px 0px;
    }
    &--top {
      text-align: left;
      margin: 0 20px 260px;
    }
    &__description {
      width: 190px;
      margin: 10px -50px;
      padding: 10px 20px;
    }
    &__contacts {
      margin: 25px 0px 20px -40px;
      width: 200px;
    }
    &__location,
    &__phone,
    &__mail {
      margin: 10px 0 20px 0;
    }
    &__copy {
      text-align: center;
    }
  }
  .button {
    font-size: 8px;
    line-height: 14px;
    padding: 10px 29px;
  }
  .features {
    margin: 50px 20px;
  }
  .number {
    text-align: left;
    font-size: 28px;
    line-height: 39px;
    margin: 0 -50px;
  }
  .success {
    text-align: left;
    font-size: 28px;
    line-height: 39px;
    margin: 10px -50px;
  }
  .development-block {
    margin: -330px 20px 50px;
  }
  .development {
    &__heading {
      margin: 10px 50px 20px 10px;
    }
  }
  .feature {
    &__block {
      margin: 20px -50px 10px 0;
    }
  }
  .developments {
    &__heading {
      margin: 10px 20px;
    }
  }
  .contacts {
    &__heading {
      margin: 10px 20px 0 -40px;
    }
  }
  .specialized {
    margin: 0 10px -170px 20px;
  }
  .specialization {
    margin: 10px 10px;
  }
  .phones {
    margin: 10px 10px;
  }
  .footer {
    &__color {
      display: none;
    }
  }
}
